
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Shadows+Into+Light&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.search-button {
  width: 100px;
  height: 50px;
}

.search-button svg {
  width: 25px;
  height: 25px;
}

body{
  background-attachment:fixed;
  background-origin:inital;
  background-repeat: no repeat;
  height:100%;
  background-color: #FBFAE8;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.08'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #ffffff, #fffdff, #fffbfb, #fffbf3, #fefdee);
}

.navbar-light .navbar-nav .nav-link {
  color: #fc7323;
}


.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: #fc7323;
  font-weight: bold;
}

.my-nav-kink {
  color: white;
}

.my-nav-kink:hover {
  font-weight: bold;
}
.my-card{
  border-radius: 50%;
  border: 10px solid white;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.24);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.24);
}

.my-card-l{
  background-color: #780116;
}

.my-card-c{
  background-color: #F7B538;
}

.my-card-r{
  background-color: #DB7C26;
}

.text-title{
  font-family: 'Lobster', cursive;
  border-color: #61dafb;
  font-size:7vw;
}

.brand-text{
  font-family: 'Lobster', cursive;
  border-color: #61dafb;
  cursor: pointer;
}


.text-title-classic{
  font-family: 'Shadows Into Light', cursive;
  border-color: #61dafb;

}

.text-title-modal{
  font-family: 'Lobster', cursive;
  border-color: #61dafb;
  font-size:6vw;
}

.color-main{
  color: #fc7323 !important;
}

.text-shadow{
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

.text-hand{
  font-family: 'Shadows Into Light', cursive;
}


/**
 * Notebook Paper pattern
 */
.notebook-paper {
  font-size: 14px;
  line-height: 18px;
  background-color: #fff;
  background-image: linear-gradient(transparent 15px, rgba(0,0,255,0.3) 15px, transparent 16px);
  background-size: 100% 18px;
}
.notebook-paper > p {
  border-left: 1px solid rgba(255, 153, 102, 0.3);
  margin-left: 78px;
  padding-left: 10px;
}

.card-custom{
  border: 0;
}

.card-msg{
  border-radius: 40px 10px 40px 10px;
  background-color: rgba(0, 4, 0, 0.1);
  background: rgba(0, 4, 0, 0.1);
}



.first-name::first-letter {
  font-size: 200%;
  color: #fc7323;
}


figure.zoom {
  background-position: 50% 50%;
  position: relative;
  width: 500px;
  overflow: hidden;
  cursor: zoom-in;
}
figure.zoom img:hover {
  opacity: 0;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.52);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.52);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.52);
}
figure.zoom img {
  transition: opacity 0.5s;
  display: block;
  width: 100%;
}

.svg-talk{
  width: 150px;
  height: 150px;
}




/* CSS talk bubble */
.talk-bubble {
  margin: 40px;
  display: inline-block;
  position: relative;
  width: 90%;
  height: auto;
  background-color: white;
  border-radius: 7px 7px 7px 7px;
  cursor: pointer;
}

.talk-bubble:hover{
  -webkit-box-shadow: 9px 8px 2px -5px rgba(0,0,0,0.08);
  -moz-box-shadow: 9px 8px 2px -5px rgba(0,0,0,0.08);
  box-shadow: 9px 8px 2px -5px rgba(0,0,0,0.08);
}

.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: white transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: white white transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 32px solid;
  border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent white;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: white transparent transparent white;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 30px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 38px;
  bottom: -20px;
  border: 12px solid;
  border-color: white white transparent transparent;
}
/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -8px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -20px;
  border: 12px solid;
  border-color: white white transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: white transparent transparent white;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: white transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}


.text-classic{
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;

}

.play-button{
  width: 40px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.text-title-span{
  background-color: #fc7323;
  color: white;
}

@media screen and (max-width: 800px) {
  .svg-talk {
    margin-top: 15px;
    margin-bottom: -38px;
    width: 80px;
    height: 80px;
  }

  .text-title-category{
    font-size: 20px;
  }
}

.background-nav{
  background-color: rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.23);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.23);
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.23);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #fc7323;
}

.img-category{
  width: 300px;
}

.dropdown-item.active, .dropdown-item:active {
  color: black;
  text-decoration: none;
  background-color: #ffffff;
}

.loading-img{
  width: 500px;
  height: 500px;
}

.img-logo{
  width: 25px;
  height: 25px;
}